.presentacion-contenido button {
    margin-bottom: 20px;
    box-shadow: 3px -3px 5px 5px #7282e2ab;
    width: 120px;
    font-family: 'Times New Roman', Times, serif;


    animation-name: botonescribinos;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}