.formulario{
    margin: 10%;
    background-color: #2e2c2c;
    max-width: 450px;

        form {
            margin-top: 50px;
            display: flex;
            flex-direction: column;

                input{
                    margin: 0 30px;
                }
        }
}


.item-form {
    color: white;
    text-align: center;
    margin-top: 15px;
}

