/*Header*/ 

header {
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 0%, 92%, 0.585), hsla(0, 0%, 86%, 0.397), hsla(0, 0%, 95%, 0.614), hwb(50 58% 33%)), url(../img/header.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    padding-top: 20%;
}

