.container{
    background-color: rgba(255, 253, 253, 0.699);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    }


    .col-sm-12 h3 {
        margin: 30px 0 30px 0;
        text-decoration: underline;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #66591f;
        font-size: 32px;
    }

    .col-sm-12 p {
        font-weight: 600;
        color: #68391f;
        font-size: 24px;
    }