/* Estilo Page Proyectos */

.proyecto-img {
    display: grid;
    grid-template-areas: 
    "proyecto1 proyecto1 proyecto2"
    "proyecto1 proyecto1 proyecto3"
    "proyecto5 proyecto6 proyecto4" ;
    
    align-items: stretch;
    justify-items: center;
    border: 2px rgb(112, 96, 22);
    border-style: double;

}

.proyecto {
    width: 100%;
    display: block;
}

.proyecto-item h3{
    background-color: $color-card-accordion-navbar;
    margin: 20px;
    border: double 5px rgb(251, 251, 251);
    border-radius: 30%;
}

.proyecto1 {
    grid-area: proyecto1;
}

.proyecto2 {
    grid-area: proyecto2;
}

.proyecto3 {
    grid-area: proyecto3;
}

.proyecto4 {
    grid-area: proyecto4;
}

.proyecto5 {
    grid-area: proyecto5;
}

.proyecto6 {
    grid-area: proyecto6;
}

.proyecto:hover {
    -webkit-transform:scale(1.4);transform:scale(1.4);
}