.main-contactenos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactenos{
    margin: 10%;
    background-color: #2e2c2c;
    max-width: 450px;
}

.contactenos h4 {
    color: white;
    margin: 5px;
    font-weight: 800;
}

.contactenos-formulario {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.item-form {
    color: azure;
    text-align: center;
    margin-top: 15px;
}

.contactenos-formulario input{
    margin: 0 15px;
}