/* Estilo Page Proyectos */

.proyecto-galeria {
    display: grid;
    grid-template-areas: 
    "proyecto1 proyecto1 proyecto2"
    "proyecto1 proyecto1 proyecto3"
    "proyecto5 proyecto6 proyecto4" ;
    
    align-items: stretch;
    justify-items: center;


}

%border {
    border: solid 5px rgba(0, 0, 0, 0.39);
    border-radius: 5%;
}

%proyecto {
    width: 100%;
    display: block;
        &:hover {
            -webkit-transform:scale(1.4);transform:scale(1.4);
        }
}

.proyecto-item h3{
    background-color: $color-card-accordion-navbar;
    margin: 20px;
    @extend %border;
}

.proyecto1 {
    grid-area: proyecto1;
    @extend %border;
    @extend %proyecto
}

.proyecto2 {
    grid-area: proyecto2;
    @extend %border;
    @extend %proyecto
}

.proyecto3 {
    grid-area: proyecto3;
    @extend %border;
    @extend %proyecto
}

.proyecto4 {
    grid-area: proyecto4;
    @extend %border;
    @extend %proyecto
}

.proyecto5 {
    grid-area: proyecto5;
    @extend %border;
    @extend %proyecto
}

.proyecto6 {
    grid-area: proyecto6;
    @extend %border;
    @extend %proyecto
}
