/*Variables*/ 

$color-titulo: rgb(51, 51, 51);
$color-subtitulo: rgb(46, 44, 44);
$color-titulo-contenedores: #d7c2b7;
$color-parrafos: black;
$color-subtitulos-blancos: #ffffff;
$color-card-accordion-navbar: #ADA996;

$color-fondo-principal: #ffffffe3;
$color-fondo-principal-gradiente: linear-gradient(90deg, rgba(235, 231, 227, 0.808) 0%, rgba(78, 83, 87, 0.808) 0%, rgba(106, 110, 114, 0.795) 13%, rgba(182, 179, 163, 0.795) 96%);

$font-size: 12px;
$font-weight: 400;